<%#= form_for @idea, :html => {:multipart => true} do |f| %>
  

 <!--  <div class="field">
    <%= label :comment %><br>
    <%= text_field :comment %>
  </div>

  <div class="actions">
    <%= submit %>
  </div> -->
  
