<% @user ||= current_user %>
<div class="stats">
  <a href="<%= friend_user_path(@user) %>">
    <strong id="friends" class="stat">
      <%= @user.friends.count %>
    </strong>
    followers
  </a>
</div>